# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
.venv/
.venv/

# Flask
instance/
*.sqlite3

# IDEs
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Miscellaneous
*.bak
*.tmp

/data
